* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 236, 236);
}

.header {
    background-color: #DAA520;
    border-bottom: 32px solid #1D3A60;
    padding: 12px;

    .logo {
        max-width: 250px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #1D3A60;
    padding: 15px;

    & h1 {
        text-align: center;
    }
}

.section-main {
    display: flex;
    gap: 15px;
    max-width: 800px;

    & article {
        background-color: #1D3A60;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        border-radius: 15px;
        font-size: 1.1em;
        flex: 1;
    }
}